.singleProduct{
    justify-content: center;
    padding-top: 90px;
    display: flex;
    color: #0e4668;
}
.productDetails .btn{
    z-index: 2;
    position: absolute;
    right: 0;
}
.btn:hover{
    color: #fff;
    transition: .5s;
}

.productDetails{
    width: 50%;
    position: relative;
}
.productDetails span{
    color: #e55865;
    font-size: 16px;
}
.productDetails p{
    color: #0e4668;
}
.productDescription{
    color: var(--font-color);
}

.checked{
    color: rgb(237, 214, 11)
}
.productImage{
    border: 1px solid #d4c291;
    padding: 20px;
    margin: 0 50px;
    border-radius: 10px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productDescription{
    width: 80%;
    opacity: 0.8;
    line-height: 25px;
    margin: 15px 0;
}
.productPrice{
    color: #3a8bcd;
}
.productDetails h2{
    margin-bottom: 0;
}
.productCategory{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    color: #000;
    font-weight: bold;
    margin: 0;
    font-size: 16px;
}
.productCategory span {
    color: #e55865;
    float: right;
    font-weight: 400;
}
.productPrice span {
    color: #e55865;
    float: right;
    font-weight: 400;
}
.productPrice{
    border-bottom: 1px solid #ddd;
    padding: 15px 0 ;
    color: #000;
    font-weight: bold;
    font-size: 16px;
}
.available{
        margin: 0 50px;
}
.available h4{
    margin: 20px 0;
    color: var(--font-color);
    padding: 10px;
}
.available i{
    color: var(--primary-color);
}
.date-container{
    display: flex;
    overflow-x: scroll;
    width: 300px ;
    justify-content: flex-start;
}
::-webkit-scrollbar{
    height: 5px;
}
.date-card{
    border: 2px solid #d4c291;
    border-radius: 10px;
    padding: 10px 15px;
    width: 85px;
    text-align: center;
    box-shadow: 1px 1px 3px #eee, -1px -1px 3px #eee;
    margin-right: 15px;
}
.date-card:hover{
    background-color: var(--primary-color);
    cursor:default;
    color: var(--secondary-color);
}
.date-card p{
    margin: 0;
}
.date-card p:first-child{
    font-weight: bold;
}
.time-card{
    border: 2px solid #d4c291;
    border-radius: 10px;
    padding: 10px 15px;
    width: 150px;
    text-align: center;
    box-shadow: 1px 1px 3px #eee, -1px -1px 3px #eee;
    margin-right: 15px;
}
.time-card:hover{
    background-color: #eee;
    cursor:default;
}
.time-card p{
    margin: 0;
    font-weight: 600;
}



.features {
    list-style: none;
    padding-left: 0;

}
.features li {
    padding: 4px;
}
.features::-webkit-scrollbar{
    display: none;
}
.train h4{
    color: var(--font-color);
    padding: 10px 0;
}
.train i{
    color: var(--primary-color);
}

.train p{
    padding-bottom: 0;
    margin-bottom: 5px;
    }
    .train a {
        text-decoration: none;
    }
    .train .btns{
        margin-top: 0;
        color: #21bfca;
    }
    .train hr{
        margin: 10px 0;
    }
    q{
        color: #5a5a5a;
    }
    .comment{
        display: flex;
        border-bottom: 2px solid #eee;
    padding-bottom: 10px !important;
    margin: 10px !important;
        
    }
    .comment:hover{
        
        cursor: default;
    }
    .bxs-user{
        position: relative;
        top: 3px;
        margin-right: 5px;
    }
    .comment-submition{
        justify-content:center;
        align-items: center;
        display: flex;
      }
      .comment-submition  input{
        background-color: transparent !important;
        border: 2px solid #d4c291;
        border-radius: 15px 0 0 15px;
      }
      .comment-submition input::placeholder{
        color: var(--secondary-color);
      }
      .comment-submition form input:focus{
        outline: none;
      }
      .comment-submition  button{
        background: var(--primary-color);
        border: 2px solid var(--primary-color);
        border-radius: 0 15px 15px 0;
        padding: 10px;
        color: var(--secondary-color);
      }
      .comment-submition button:hover{
        background: var(--secondary-color);
        transition: .5s;
        color: var(--primary-color);
      }
      .comment-submition button:focus{
        outline: none;
      }

@media (max-width:923px) {
    .singleProduct{
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 40px;
    }
    .productDetails{
        width: auto;
        text-align: left;
        padding: 30px ;
    }
    .productDetails p{
        width: auto;
    }
    .cardFooter{
        justify-content: center;
    }
    .productDetails h2{
        margin: 15px 0;
    }
    
}
@media (max-width:550px) {
    .productImage{
        margin: 0;
    }
    .available {
        margin: 0;
        position: absolute;
        bottom: -92px;
        margin: 60px 0 60px 0;
    z-index: 2;
    }
    .productDetails {
        width: auto;
        text-align: left;
        padding: 30px 30px 300px 30px;
    }
    .productDetails .btn {
        position: relative;
        right: 0;
        width: 100%;
        margin: 0;
    }
    .productImage{
        width: 270px;
    }
    .date-container{
        width: 270px;
    }
    
}